.container{
    width: 95%;
    margin: auto;
    border: 1px solid;
    padding: 2%;
}

#securityid{
    text-decoration: none;
    background-color: rgb(244, 241, 241);
    border: 0ch;
}
.lab{
    width: 150px;
    display:inline-block ;
    margin-top: 3px ;
  
  
}

h4{
    margin-left: 80px;
}

.inp{
  margin-left: 200px;
}

h1{
    text-align: center;
}
